.profile {
    img {
        border-radius: 50%;
    }

    p {
        font-size: 1.2rem;
    }

    button,a {
        padding: 10px 15px;
        font-weight: 500;
        border: 1px solid black;
        min-width: 100px;
        transition: all 0.3s ease;
    }

    a{
        @media (min-width:1025px) {
            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
    

    button {
        @media (min-width:1025px) {
            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
    
}